<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>beginner_1</string>
    <string>beginner_2</string>
    <string>beginner_3</string>
    <string>beginner_4</string>
    <string>beginner_5</string>
    <string>beginner_6</string>
    <string>beginner_7</string>
    <string>beginner_8</string>
    <string>beginner_9</string>
    <string>beginner_10</string>
    <string>beginner_11</string>
    <string>beginner_12</string>
    <string>beginner_13</string>
    <string>beginner_14</string>
    <string>beginner_15</string>
    <string>beginner_16</string>
    <string>beginner_17</string>
    <string>beginner_18</string>
    <string>beginner_19</string>
    <string>beginner_20</string>
    <string>beginner_21</string>
    <string>beginner_22</string>
    <string>beginner_23</string>
    <string>beginner_24</string>
    <string>beginner_25</string>
    <string>beginner_26</string>
    <string>beginner_27</string>
    <string>beginner_28</string>
    <string>beginner_29</string>
    <string>beginner_30</string>
</array>
</plist>
