<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>puzzles</key>
	<array>
		<string>hard_1.json</string>
		<string>hard_2.json</string>
		<string>hard_3.json</string>
		<string>hard_4.json</string>
		<string>hard_5.json</string>
		<string>hard_6.json</string>
		<string>hard_7.json</string>
		<string>hard_8.json</string>
		<string>hard_9.json</string>
		<string>hard_10.json</string>
		<string>hard_11.json</string>
		<string>hard_12.json</string>
		<string>hard_13.json</string>
		<string>hard_14.json</string>
		<string>hard_15.json</string>
		<string>hard_16.json</string>
		<string>hard_17.json</string>
		<string>hard_18.json</string>
		<string>hard_19.json</string>
		<string>hard_20.json</string>
		<string>hard_21.json</string>
		<string>hard_22.json</string>
		<string>hard_23.json</string>
		<string>hard_24.json</string>
		<string>hard_25.json</string>
		<string>hard_26.json</string>
		<string>hard_27.json</string>
		<string>hard_28.json</string>
		<string>hard_29.json</string>
		<string>hard_30.json</string>
	</array>
</dict>
</plist>
